<div class="flex-list mb-1">
    <div class="flex-list-element">
        <h1 class="header-title"><%= (typeof title !== 'undefined') ? title : 'Starmap: Index' %></h1>
    </div>
    <div class="flex-list-element flex-inline">
        <a href="/" class="flex-inline-element">index</a>
        <a href="/systems/pg/1" class="flex-inline-element">systems</a>
        <a href="/charts" class="flex-inline-element">charts</a>
    </div>
</div>
